#root {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-image: url('https://www.transparenttextures.com/patterns/diamond-upholstery.png'), linear-gradient(135deg, green 100%);
    color: #333;
}